{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% if collector.data %}
        {% set icon %}
        <span style="line-height:28px;"><img alt="Travis" src="data:image/png;base64,R0lGODdhEAAQAMQAANM6HNM6HNc+INc+INdDJ9dDJ9dDJ9dDJ9lMNdlMNdlMNdlMNdpQOttZRdtZRdtZRd1gTfrp5/rp5/339gAAAADyAgAAAAAAAAoDAAAAAAAALwMAAAAAAABTAwAAAAAAACH5BAEAABQALAAAAAAQABAAAAVkICWMZFmKBMKsbIsQIxJNdG1HSDw1bdtMDB0j9SISGJOcALGrIZi0n1JGgwCR1glOACCqrsDniwsgIVdAEmDNJvzQDQJ7DoA+aQg6mxl3J8l0fCtSemtUNTiFZWJigAAUinoUIQA7"/></span>

        <span class="sf-toolbar-status sf-toolbar-status-{% if collector.data.lastBuildState %}green{% else %}red{% endif %}"></span>
        {% endset %}

        {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img width="32" height="32" alt="travis" src="data:image/png;base64,R0lGODdhEAAQAMQAANM6HNM6HNc+INc+INdDJ9dDJ9dDJ9dDJ9lMNdlMNdlMNdlMNdpQOttZRdtZRdtZRd1gTfrp5/rp5/339gAAAADyAgAAAAAAAAoDAAAAAAAALwMAAAAAAABTAwAAAAAAACH5BAEAABQALAAAAAAQABAAAAVkICWMZFmKBMKsbIsQIxJNdG1HSDw1bdtMDB0j9SISGJOcALGrIZi0n1JGgwCR1glOACCqrsDniwsgIVdAEmDNJvzQDQJ7DoA+aQg6mxl3J8l0fCtSemtUNTiFZWJigAAUinoUIQA7"/></span>
        <strong>Travis</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2 class="travis-title">Travis - {{ collector.data.slug }} builds report</h2>
    {% if not collector.data %}
        <div>
            <h3>No data available</h3>
            The client could not connect to the web service. Maybe you are offline?
        </div>
    {% else %}

        {% if collector.data.builds is empty %}
            <p>No builds found...</p>
        {% else %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Commit</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for build in collector.data.builds|slice(0, 20) %}
                    <tr>
                        <td>{{ build.number }}</td>
                        <td>{{ build.finishedAt.format('l, d M Y H:i:s') }}</td>
                        <td>{{ build.message }}</td>
                        <td><a target="_blank" href="https://github.com/{{ collector.data.slug }}/commit/{{ build.commit }}">{{ build.commit }}</a></td>
                        <td>
                            {% if build.result == 0%}
                                <img width="30" src="{{ asset('/bundles/snidetravis/images/green.png') }}" />
                            {% else %}
                                <img  width="30"  src="{{ asset('/bundles/snidetravis/images/red.png') }}" />
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}


{% endblock %}